<nav>
	<div id="navbar">
			<div class="container">
			<ul class="pull-right">
				<li><%= link_to "Home", root_path%></li>
				<li><%= link_to "About", about_path%></li>
				<li><%= link_to "Work", work_path%></li>
				<li><%= link_to "Contact", root_path%></li>
				
		</div>
	</div>
</nav>