<div class="container page-content">

	<div class="row">
		<div class="intro-fleur col-md-6 col-sm-6 col-xs-12">
			<p>
				Fleur Feringa is a Stylist. She creates and produces original images for magazines and the world of advertising.
			</p>
			<p>
				From her multi-facetted background in different fields of the fashion industry she developed a great eye. Fleur’s broad vision, connected to an eccentric sense of style, lead her to fashion story telling within photography, film and commercials in addition to creating extraordinary shows, breath-taking window displays and curating exhibitions.
			</p>
			<p>
				Fleur has worked for a variety of clients such as: Adidas, Albert Heijn, Algemeen Dagblad, AVRO, Bijenkorf, BNN, Concertgebouw, Halal, ING Bank, KRO, LXRY Magazine, Milkshake Festival, Mysteryland, Nieuwe Revu, NYLON, Playboy, Quest, Quote, Redken, Spinnin’ Records, Talkies, Toni & Guy, Vice, VGZ, VPRO, Wasteland and many more.</p>
			<p>
				Furthermore she has created looks for Dutch Celebrity’s like: Christina Curry, Gaite Jansen, Geraldine Kemper, Jan Versteegh, Leco van Zadelhoff, Martin Garrix, Victoria Koblenko and many others.
			</p>
			<p>
				As a clothing consultant Fleur takes care of the wardrobes of private clients.
			</p>


			<p><%= t 'intro.p1' %></p>

			<p><%= link_to "See Work", root_path, class: "pull-right" %></p>
		</div>
		<div class="intro-fleur-pic col-md-6 col-sm-6 col-xs-12">
			<%= image_tag("fleur.jpg", class: "intro_pic") %>
		</div>
	</div>
</div>