<div class="container-fluid">
	<h2>Portfolio</h2>

	<div class="nav-case">
		<ul class="case">
			<li>Shoot Amsterdam 4 april</li>
			<li>Queens Project</li>
			<li>Mofo's</li>
			<li>Party People</li>
		</ul>
	</div>




	<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
		
	</div>
	<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
	<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>

</div>