#navbar {
	height: 30px;
	font-size: 24px;
}

#navbar ul li {
	list-style-type: none;
	display: inline-block;
	margin-left: 15px;
	margin-top: 20px;

}


/*CASE NAVBAR*/

ul.case {
	list-style-type: none;
		color: red;
}
ul.case li {
	display: inline-block;
	padding: 25px;
}
.navbar {
	background: transparent;

}
.li-div {
	max-width: 140px;
	max-height: 90px;
}
.tet {
	width: 100%
}

.caseitem {
	position: fixed;
	color: red;
}
a {
    color: #ed3019;
    text-decoration: none;
}